.business-and-career{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  font-weight: 1000;
}
.main-container {
  width: 100%;
  padding: 2% 4% 2% 3%;
  background: white;
  box-shadow: 0px 4px 21px rgba(30.95, 161.50, 148.21, 0.10);
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 0.9vw;
}

.logo-section {
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  display: flex;
  width: 40%;
}

.button-container {
  display: flex;
  gap: 2%;
  width:40%
}

.personal{
  background-color: #23262A;
  color: white;
  width: 60%;
  padding: 3%;
  border-radius: 9%;
}

.spacer {
  flex-grow: 1;
}
.action-button {
  padding: 1.5%;
  border-radius: 3%;
  justify-content: center;
  align-items: center;
  gap: 2%;
  display: flex;
}

.navigation-section {
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
  display: flex;
  width: 72%;
}

.category {
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  line-height: 2.5vw;
}

.pi.pi-chevron-down {
  margin-top: 0.2em;
}

/* @media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .logo-section, .spacer, .navigation-section {
    width: 100%;
  }
} */
