<!-- <div style="width: 100%; height: 100%; padding-top: 34px; padding-bottom: 34px; padding-left: 43px; padding-right: 75px; background: white; box-shadow: 0px 4px 21px rgba(30.95, 161.50, 148.21, 0.10); justify-content: space-between; align-items: center; display: inline-flex">
  <div style="justify-content: flex-start; align-items: center; gap: 27px; display: flex">
    <img src="../../assets/images/Logo.svg"/>

      <div style="padding-left: 25px; padding-right: 25px; padding-top: 9px; padding-bottom: 9px; background: #2ED5C4; box-shadow: 0px 3.3299999237060547px 11.654999732971191px rgba(46, 213, 196, 0.50); border-radius: 53.28px; justify-content: center; align-items: center; gap: 8px; display: flex">
          <div style="text-align: center; color: black;   font-size: 14px;    ">הצטרפות</div>
      </div>
      <div style="padding-left: 21px; padding-right: 21px; padding-top: 9px; padding-bottom: 9px; background: #23262A; box-shadow: 0px 3.3299999237060547px 8.324999809265137px rgba(0, 0, 0, 0.20); border-radius: 53.28px; justify-content: center; align-items: center; gap: 6px; display: flex">
          <div style="width: 130.54px; text-align: center; color: white;   font-size: 14px;    ">כניסה לאיזור האישי</div>
          <div style="width: 17px; height: 17.72px; position: relative">
              <div style="width: 6.54px; height: 6.81px; left: 5.23px; top: 3.41px; position: absolute; border: 0.96px white solid"></div>
              <div style="width: 11.17px; height: 3.27px; left: 2.92px; top: 12.27px; position: absolute; border: 0.96px white solid"></div>
              <div style="width: 17px; height: 17.72px; left: 0px; top: 0px; position: absolute; border: 0.96px white solid"></div>
          </div>
      </div>
        <img src="../../assets/images/vaadin_accessibility.svg">

  </div>

  <div style="position: relative">
     
  </div>
  <div style="justify-content: flex-end; align-items: center; gap: 40px; display: flex">
      <div style="justify-content: flex-start; align-items: flex-start; gap: 28px; display: flex">
        <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
          <div style="left: 82.67px; top: 0px; text-align: center; color: black;  font-size: 15px;   line-height: 31.29px;  ">עסקים</div>
          <div style="width: 19px;position: relative; left: 0.8em; top: -0.5em; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
          <div style="left: 0px; top: 0px; text-align: center; color: black;  font-size: 15px;   line-height: 31.29px;  ">קריירה</div>
        </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
            <i class="pi pi-chevron-down" style="margin-top: 0.2em;"></i>
              <div style="text-align: center; color: black;  font-size: 14px;  line-height: 29.80px;  ">שירות ותמיכה</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
            <i class="pi pi-chevron-down" style="margin-top: 0.2em;"></i>
              <div style="text-align: center; color: black;  font-size: 14px;   line-height: 29.80px; ">חנות</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
              <div style="text-align: center; color: black;  font-size: 14px;   line-height: 29.80px;  ">פרטנר חשמל</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
            <i class="pi pi-chevron-down" style="margin-top: 0.2em;"></i>
              <div style="text-align: center; color: black;  font-size: 14px;   line-height: 29.80px;  ">Partner TV</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
              <div style="text-align: right; color: black;  font-size: 14px;   line-height: 29.80px;  ">פרטנר חו״ל</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
            <i class="pi pi-chevron-down" style="margin-top: 0.2em;"></i>
              <div style="text-align: right; color: black;  font-size: 14px;   line-height: 29.80px;  ">סלולר</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 5px; display: flex">
            <i class="pi pi-chevron-down" style="margin-top: 0.2em;"></i>
              <div style="text-align: right; color: black;  font-size: 14px;   line-height: 29.80px;  ">אינטרנט סיבים</div>
          </div>
      </div>
  </div>
</div>
 -->
 <div class="main-container">
  <div class="logo-section">
    <img src="/assets/images/Logo.svg"/>
    <div class="button-container">
      <div class="action-button" >הצטרפות</div>
      <div class="personal action-button" >כניסה לאיזור האישי <img src="/assets/images/Personal.svg"/></div>
    </div>
    <img src="/assets/images/vaadin_accessibility.svg">
  </div>

  <div class="spacer"></div>

  <div class="navigation-section">
    <div class="business-and-career">
      <div class="category">קריירה</div>
      <img src="/assets/images/Line 146.svg"/>
      <div class="category">עסקים</div>
    </div>
    <div class="category"><i class="pi pi-chevron-down"></i>  שירות ותמיכה </div>
    <div class="category"><i class="pi pi-chevron-down"></i> חנות </div>
    <div class="category">פרטנר חשמל</div>
    <div class="category"><i class="pi pi-chevron-down"></i> Partner TV </div>
    <div class="category">פרטנר חו״ל</div>
    <div class="category"><i class="pi pi-chevron-down"></i> סלולר </div>
    <div class="category"><i class="pi pi-chevron-down"></i> אינטרנט סיבים </div>
  </div>
</div>
