<!-- <div class="mush-container">
    <div class="header">
      <div class="always-here">
        <div>We are always here!</div>
        <div>at your service</div>
      </div>
    </div>
  
    <div class="flex-container">
      <div class="flex-item">
        <img src="path/to/service-center-icon.png" alt="Service Centers Icon" />
        <div class="content">Service Centers</div>
      </div>
      <div class="flex-item">
        <img src="path/to/service-center-icon.png" alt="Service Centers Icon" />
        <div class="content">Service Centers</div>
      </div>
      <div class="flex-item">
        <img src="path/to/fish-icon.png" alt="Fish Icon" />
        <div class="content">Fish</div>
      </div>
      <div class="flex-item">
        <img src="path/to/fish-icon.png" alt="Fish Icon" />
        <div class="content">Fish</div>
      </div>
      <div class="flex-item">
        <img src="path/to/fish-icon.png" alt="Fish Icon" />
        <div class="content">Fish</div>
      </div>
      <div class="flex-item">
        <img src="path/to/fish-icon.png" alt="Fish Icon" />
        <div class="content">Fish</div>
      </div>
    </div>
  </div>
   -->