<div class="panel-container">
<img *ngIf="selection.status == statusTypes.Complete && serviceCenters.length == 0 " src="/assets/images/Frame 26085612.png"/>
<img *ngIf="selection.status == statusTypes.Incomplete " src="/assets/images/Group 26086176.png"/>
<div *ngIf="selection.status == statusTypes.Complete && serviceCenters.length >0  "   class="centers-container">
    <service-center *ngFor="let center of serviceCenters" [center]="center" [activities]="selection.selection!.activities"></service-center>
</div>
</div>


