.p-inputtext:enabled:focus  .p-element .p-autocomplete-input .p-inputtext .p-component {

     box-shadow: none !important
}
input{
    width: 100%;
}



    label {
        right:  10px;
        left: unset;
    }

    /* Adjust the width of the autocomplete input */
.ui-autocomplete {
    width: 100% !important;
  }
  
  .ui-autocomplete-input {
    width: 70% !important;
    margin: 0 auto; /* Center the autocomplete input horizontally */
  }
  

  .ui-autocomplete input {
    width:200px;
}
.error-message{
  color: red;
  text-align: right;
}
  /* Adjust other styles as needed */
  .ui-autocomplete .ui-autocomplete-input {
    border-radius: 20px; /* Adjust the value as per your preference */
  }