
<img class="banner desktop" src="/assets/images/D _ Banner.svg" alt="Banner Image">
<img class="banner desktop" src="/assets/images/D _ Banner.svg" alt="Banner Image">

<img class="banner mobile" src="/assets/images/Frame 26085582.svg" alt="Banner Image">


  <div class="card">
    <p-card>
      <!-- Your existing content here -->
      <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: center; gap: 23px; display: inline-flex">
          <selection-panel (statusChange)="onStatusChange($event)"></selection-panel>

  </div>
    </p-card>
  </div>
  
<service-centers-panel [selection]="selection"></service-centers-panel>


