  <div class="service-center-card">
    <p-card>
      <div class="card-header">
      {{center.Name}}
      </div>
      <div class="card-address">
     {{center.Address.Street +" "+ center.Address.HouseNumber + " " +center.Address.City.Name}}
      </div>
      <div class="card-sub-title">
        <div class="sub-title-text ">
          שעות פתיחה
        </div>
        <div class="card-icon">
          <img src="/assets/images/clarity_clock-line.svg" alt="Clock Icon">
        </div>
      </div>
      <div class="additional-text">
        <div *ngFor="let days of getDynamicSchedule(center.ReceptionHours)">{{days}}</div>
        <div class="note" [innerHTML]="convertToHTML(center.ReceptionHours.Note)"></div>

      </div>
      <div class="card-sub-title">
        <div class="sub-title-text">
שירותים בסניף        </div>
        <div class="">
          <img src="/assets/images/Vector.svg" alt="Clock Icon">
        </div>
      </div>
      <div class="additional-text">

        

        <div class="activity-buttons-container">
          <div *ngFor="let activity of normalizeActivities(center.ActivityList.Activity)" class="activity-button" >
            <p-button 
              [rounded]="true"
              [outlined]="!isActivity(activity)"
              [ngClass]="isActivity(activity)? '':'activity-button-disabled'"
            >
            {{activity.Name}}
            </p-button>
        </div>
      </div>
  </div>
</p-card>
